* {
  box-sizing: border-box;
  margin: 0;
}
body {
  max-height: 100vh;
  background-color: rgb(60, 141, 216);
}

header {
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
header {
  height: auto;
}
h1 {
  font-family: "Kaushan Script", cursive;
  color: rgb(23, 4, 94);
  font-size: 6.5rem;
  letter-spacing: 0.7rem;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: "Kaushan Script", cursive;
  letter-spacing: 0.5rem;
  color: rgb(23, 4, 94);
}
.nav {
  height: auto;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Kaushan Script", cursive;
}
.item {
  width: 350px;
  height: 250px;
}
.gallerie {
  margin: auto;
  width: 90%;
  gap: 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
}
.item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.slider-gallerie {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #333, #000);

  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
}

.btn-fermer-gallerie {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: 2%;
  cursor: pointer;
  font-size: 1.8rem;
  outline: none;
  border: none;
}
.btn-left,
.btn-right {
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-right {
  right: 5%;
}
.btn-left {
  left: 5%;
}
.img-visible-gallerie {
  width: 60%;
  height: 700px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  height: 70px;
  background-color: rgb(23, 4, 94);
  text-align: center;
  margin-top: 15px;
}
.end {
  color: white;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}
.end i {
  color: white;
  font-size: 1rem;
}
/* RESPONSIVE */
@media screen and (max-width: 500px) {
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
  }
}
